<div class="center hero-unit">
<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @pet.customer.name %>
</p>

<p>
  <b>Petname:</b>
  <%= @pet.petName %>
</p>

<p>
  <b>Type:</b>
  <%= @pet.petType %>
</p>

<p>
  <b>Breed:</b>
  <%= @pet.breed %>
</p>

<p>
  <b>Age:</b>
  <%= @pet.age %>
</p>

<p>
  <b>Weight:</b>
  <%= @pet.weight %>
</p>

<p>
  <b>Dateapp:</b>
  <%= @pet.dateApp %>
</p>

<p>
  <b>Reason:</b>
  <%= @pet.reason %>
</p>


<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
</div>
