<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%=f.label "Customer: #{@profile.name}" %><br />
 </div>--> 
  <div class="field">
    <%= f.label :date_of_visit %><br />
    <%= f.text_field :visitDate %>
  </div>
  <div class="field">
    <%= f.label "Pet Name: " %><br />
    <%= f.number_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :Reminder %><br />
    <%= f.check_box :reminder %>
  </div>
  <div class="field">
    <%= f.label :reason_for_visit %><br />
    <%= f.text_area :visitReason, rows: 6 %>
  </div>
  <div class="field">
    <%= f.label "Doctor: " %><br />
    <%= f.text_field :doctor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
