<div class="center hero-unit">
<h3>Listing appointments</h3>

<table border="1" align="center">
  <tr>
    <th>Visit Date</th>
    <th>Customer</th>
    <th>Pet</th>
    <th>Reminder</th>
    <th>Visit Reason</th>
    <th>Doctor</th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.visitDate %></td>
    <td><%= appointment.customer_id %></td>
    <td><%= appointment.pet_id %></td>
    <td><%= appointment.reminder %></td>
    <td><%= appointment.visitReason %></td>
    <td><%= appointment.doctor_id %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
 <div id="articles">
 	<%= calendar do |appointment| %>
 	<%= appointment.day %>
 	<% if @appointments_by_date[appointment] %>
      <ul>
        <% @appointments_by_date[appointment].each do |appointment| %>
          <li><%= link_to appointment.customer_id, appointment %></li>
        <% end %>
      </ul>
    <% end %>
 	<% end %>
 </div>
<br />

<%= link_to 'New Appointment', new_appointment_path, class: "btn btn-small" if can? :new, current_user.profile 
%>
</div>
