<!DOCTYPE html>
<html>
<head>
  <title>Pet Doctors</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag 'jquery.min', 'jquery-ui-1.8.2.custom.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>
   <%= render 'layouts/header' %>
   <%= render 'layouts/header2' if current_user %>

  <%= yield %>

   <%= render 'layouts/footer' %>
  </div>
</body> 
</html>
